################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Traversal/.vs/Traversal/CopilotIndices/17.12.38.29086
