<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/UIPartials/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("~/Views/UIPartials/NavbarPartial.cshtml")

    @RenderBody()

    @await Html.PartialAsync("~/Views/UIPartials/FooterPartial.cshtml")

    @await Html.PartialAsync("~/Views/UIPartials/ScriptPartial.cshtml")

</body>

</html>