@model ForgotPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h2>Şifre Yenileme</h2>
    <br />
    <h5>Şifrenizi yenilemek istediğiniz email adresini girerek gönder butonuna tıklayınız.</h5>
    <br />
    <form method="post">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <button type="submit" class="btn btn-success">Gönder</button>
    </form>
</div>
